@media screen and (min-width:768px) and (max-width:992px){
  
    .link {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 25px;
    }

    .link a{
         padding: 0;
         margin-right: 5px;
         line-height: 1.5em;
    }
    .link a.red{
      margin-top: -10px;
    }
    
}

@media screen and (min-width:992px) and (max-width:1200px){
    .link {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 25px;
    }

    .link a{
        padding: 0;
        margin-right: 20px;
    }
     .link a.red{
      margin-top: -10px;
    }
    
    
}
