@media only screen and (max-width: 768px){
    body {
      overflow-x: hidden;
    }
    #qa ,#techflow{
      padding: 0;
    }
   
    #navbar .link{
      display: none;
    }
    #navbar .mobile-nav{
      display: block;
      float: right;
    }
    #navbar .mobile-nav-close{
      display: block;
      background-image: url("../img/close.svg");
      height: 20px;
      margin-top: 28px;
      background-repeat: no-repeat;
      margin-left: 150px;
    }

    #navbar .mobile-link{
      background-color: #333;
    
      z-index: 10;
      top:0px;
      left:0px;

      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      width: 80vw;
      height: 100vh;
    
    }
    .overlay-nav{
      background: #333;
      height: 100vh;
      width: 100vw;
      opacity: 0.6;
      position: fixed;
      z-index: 5;
      display: none;
      top:0px;
      left:0px;
    }

    
     #navbar .mobile-link a{
      display: block;
      color: #fff;
      width: 15em;
      padding: 1em;
      text-align: left;
     }
     #navbar .mobile-link a:last-child{
          background: linear-gradient(90deg, #BF5331, #EF6A5A);
          border-radius: 7px;
          padding: 10px 20px 10px 20px;
     }

     #banner{
       background-position: bottom;
       background-image: url("../img/mobile-banner.png");
       min-height: 45em;
     }
     .banner-bt{
      width: 9em;
     }
     #banner  .mf-24 {
      font-size: 24px;
     }
      #banner .mf-60{
      font-size: 60px;
     }
      #banner  .mf-47{
      font-size: 47px;
     }
      #banner  .mf-34{
      font-size: 34px;
     }
      #banner  .mf-14{
      font-size: 14px;
     }

     .mf-16{
      font-size: 16px;
     }

      .mf-26{
      font-size: 26px;
     }
     
      .mf-20{
      font-size: 20px;
     }

     #banner .item .img-top{
      width: 15em;
     }

     .zoom-bt{
       padding: 2em;
     }
     #techflow .center .flow-item {
      margin-left: 20px;
     }
     #course{
      padding: 0.5em;
     }
     #teacher .item{
      margin-left: 0px;
     }
     .swiper{
      padding: 15px;
     }
     .custom-next-button{
       width: 10px;
       right: -12px;
       
     }
     .custom-prev-button{
      width: 10px;
      left: -12px;
     }

    
     #school .item span{
      float: none;
      display: block;
      width: 251px;
      margin-top: 20px;
      text-align: center;
     }

      #school .item span.w-482{
        text-align: left;
      }
      #school img.chatper-two{
        display: none;
      }
      #school .item span img{
           margin-left: 6em;
        margin-top: -3em;
     }
     #school .title{
      padding: 1em;
      margin: 0px 0px;
     }

     #price{
       min-height: 1200px;
     }
    

     #price .item{
      margin-top: 40px;
     }

     #course .item{
      flex-direction: column-reverse;
     }

     #voice {
        background-image: none;
        padding-left: 23px;
     }
     #voice .item{
        flex-direction: column;
     }
     #voice .item:nth-child(3){
        flex-direction: column-reverse;
     }
     
    .inquiry .center-flex{
      flex-direction: column;
    }
    .inquiry .line-bg-3{
      display: none;
    }
    .inquiry span:first-child{
        position: relative;
        right: -80px;
    }

    #price .plan{
      flex-direction: column;
    }

    #price img.price-top{
      max-width: 300px;
    }

    #case {
      background-color: #EF6A5A;

      background-image: none;
      
      min-height: 1700px;
      padding: 10px;
      
    }
    #case .item{
      margin-left: 19px;

    }

    #why .item{
      display: flex;
      flex-direction: column;
      background-repeat: repeat-y;
    }

    #why .item .img1, #why .item .img3{
      top: -62px;
      left: 11px;
    }
    #why .item .img2 {
      position: relative;
      top: -54px;
      right: -75px;
    }
    #why .item .content{
      padding-left: 20px;
      text-align: justify;
    }

    #why .item .content p.descrption,#why .item .content span.fs-24{
      display: block;
      width: 300px;
      word-wrap: break-word;
      overflow: hidden; 
    }
    #why .title {
      text-align: center;
    }
   #inquiry .overlay, .inquiry .overlay {

      min-height: 700px;
    }

    .swiper-pc{
      display: none;
    }
    .swiper-mobile{
      display: block;
    }
}